/*==================================================
=                 COLORS
==================================================*/

$primary: #A67C52;

$white: #FFFFFF;
$black: #222222;

$gray: #666666;
$gray-300: #E9E9E9;
$gray-700: #444444;
$gray-800: #2D2D2D;
$gray-900: #111111;

$body-bg: $white;
$body-color: $gray;


/*==================================================
=                 TYPOGRAPHY
==================================================*/

$enable-rfs: false;

$font-family: "Inter", sans-serif;

$font-size-base: 1rem;

$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: $gray-900;


/*==================================================
=                 SPACING
==================================================*/

$spacer: 1rem;
$grid-gutter-width: 1.5rem;


/*==================================================
=                 LINKS
==================================================*/

$link-color: $gray-800;
$link-hover-color: $primary;
$link-decoration: none;


/*==================================================
=                 NAVBAR
==================================================*/

$navbar-padding-y: 1rem;
$navbar-brand-font-size: 1.5rem;
$navbar-brand-font-weight: 700;


/*==================================================
=                 BUTTONS
==================================================*/

$btn-border-radius: 50rem;

$btn-padding-y: .75rem;
$btn-padding-x: 1.5rem;


/*==================================================
=                 BORDER
==================================================*/

$border-radius: .5rem;
$border-radius-lg: 1rem;


/*==================================================
=                 CARD
==================================================*/

$card-border-width: 0;
$card-border-radius: 1rem;


/*==================================================
=                 INPUT
==================================================*/

$input-border-radius: 50rem;
$input-border-color: $gray-300;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;



